.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, sans-serif;
}

.card-container {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
}

.card {
  width: 20rem;
  height: 20rem;
  border: 1px solid var(--bd-theme-gray);
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.right-pic-card {
  flex-direction: row-reverse;
}

.img-card-placeholder {
  height: 80%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bd-theme-gray);
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 80%;
  width: 45%;
  align-items: center;
  justify-content: center;
}

.field {
  height: 1.25rem;
  background: var(--bd-theme-gray);
  width: 100%;
  border-radius: 15px;
}

.selected {
  box-shadow: 0px 0px 5px 5px gray;
  border-radius: 16px;
}

.profile-img {
  width: 100px;
  height: 100px;
  fill: var(--bd-theme-gray);
}

.next-btn {
  margin-top: 3rem;
  transform: rotate(180deg);
}

.active {
  cursor: pointer;
}

.in-active {
  cursor: default;
  fill: var(--bd-theme-gray);
}
