.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  height: 100vh;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cancel-btn {
  position: absolute;
  top: -12px;
  right: -12px;
  background: var(--bd-theme-gray);
  display: flex;
  border-radius: 50%;
}

.img-container {
  height: 25rem;
  width: 18rem;
  border: 2px solid black;
  position: relative;
}

.upload-btn-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editable-field-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  height: 60vh;
  overflow: auto;
}

.left-container {
  display: flex;
}

.separator {
  margin: 0px 20px;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0px 20px;
}

.editable-field {
  display: flex;
  justify-content: space-around;
}

.add-new-btn {
  width: fit-content;
  align-self: center;
  padding: 0.2rem 0.4rem;
  background: var(--bd-theme-gray);
  border: unset;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.proceed-btn {
  transform: rotate(270deg);
  margin-top: 30px;
  cursor: pointer;
}

.disabled-proceed-btn {
  cursor: default;
  fill: var(--bd-theme-gray);
}

.edit-btn {
  transform: rotate(90deg);
  cursor: pointer;
  margin-top: 30px;
}

.label {
  width: 23%;
}

.value {
  color: black;
}

.value-field {
  display: flex;
  margin-bottom: 10px;
}

.field-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
